@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
body {
  background-color: #2b2a30;
}

#relojSombra {
  margin: auto;
  width: 500px;
  height: 500px;
  background: #000000;
  box-shadow: -5px 14px 44px #000000, 5px -16px 50px rgba(255, 255, 255, 0.15);
  border-radius: 50%;
}

#relojColor {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: #9d0000;
  
  border-radius: 50%;
  justify-content: center;
  display: flex;
}

#relojCentro {
  margin: auto;
  width: 490px;
  height: 490px;
  background: rgb(58, 57, 63);
  background: radial-gradient(
    circle,
    rgba(58, 57, 63, 1) 30%,
    rgba(23, 23, 26, 1) 70%
  );
  color: whitesmoke;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#timer {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 196px;
  line-height: 196px;

  padding-top: 30%;
}

#info {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.6em;
}

/* MODAL */

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
}

#modalContent {
  border-radius: 5px;
  padding: 15px;
  margin: 200px auto;
  width: 400px;
  background-color: #2b2a30;
  color: whitesmoke;
  font-family: "Montserrat";
  font-size: 25px;
}

#modalContent form {
  display: grid;
  gap:10px;
  
}

#modalContent input {
  width: 300px;
  height: 30px;
}

#modalContent button {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
  font-family: "Montserrat";
  width: max-content;
}

#buttonContainer{
  display: flex;
  justify-content: right;
}

#modalContent button:hover {
  cursor: pointer;
}

#closeModal {
  background-color: #2b2a30;
}
#guardarModal {
  background-color: #00aa51;
}

#stop {
  display: none;
}